* {
  border: red dotted 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, main, section, footer, h1, h2, p, ul, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/*****************************************
                    MAIN
*****************************************/
main {
  padding: 0 10px;
}